i
{
    cursor:pointer;
}

table
{
    margin-bottom:0px !important;
}

td
{
    vertical-align: middle !important;
}

.panel-header
{
    background-color:#000000;
    color: #FFFFFF;
    padding: 10px;
    font-weight: bold;
}

.panel-header span
{
    vertical-align: middle;
}