i
{
    cursor:pointer;
}

table
{
    margin-bottom:0px !important;
}

td
{
    vertical-align: middle !important;
}

img
{
    cursor: pointer;
}

.panel-header
{
    background-color:#000000;
    color: #FFFFFF;
    padding: 10px;
    font-weight: bold;
}

.panel-header span
{
    vertical-align: middle;
}

.checkbox
{
    visibility: hidden;
}

.checkbox:before 
{
    visibility: visible;
}

.form-label
{
    text-align:right;
}

.dropdown-label
{
    vertical-align:top;
}