tr
{
    cursor:pointer;
}

img
{
    margin-bottom:2px;
    margin-right:2px;
    cursor: pointer;
}

.config-games-cancel-btn 
{
    float:right;
}

.field
{
    margin-top: 0.75rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}