.config-header
{
    background-color:#000000;
    color: #FFFFFF;
    padding: 10px;
    font-weight: bold;
}

.config-header span
{
    vertical-align: middle;
}

.config-file-dialog
{
    display:none;
}

.config-add-btn
{
    float:right;
}

.config-launch-btn
{
    float:right;
}

.config-save-btn
{
    float:right;
}

.config-edit-btn
{
    float:right;
}

.config-delete-btn
{
    float:right;
    margin-right:10px;
}