[view]
{
    width:100%;
    height:100%; 
}

.background
{
    position: absolute;
    width:100%;
    height:100%; 
}

.frame 
{ 
    width:100%;
}

.frame .slidee 
{ 
    list-style: none; 
    padding-left:20px;
}

.frame .slidee li 
{ 
    float: left; 
    margin-top:20px;
    margin-left: 20px;
}

.frame .slidee li:last-child
{
    margin-right: 10px; 
}

.frame .slidee li img
{
    opacity:0.85;
    cursor: pointer;
    border-radius: 5px;
    filter: grayscale(100%);
    width: 100px;
    border: 1px solid #aaa;
}

.frame .slidee li img.selected
{
    opacity:1;
    filter: grayscale(0%);
}

.options
{
    border: 1px solid #aaa;
    position:absolute;
    left:20px;
    right:20px;
    padding:10px;
    bottom:20px;
    border-radius: 5px;
    opacity:0.85;
    background: #FFFFFF;
    padding-right:10px;
}

.options span
{
    vertical-align: sub;
}

.options bulma-button-component
{
    margin-left:10px;
    cursor: pointer;
    float:right;
}