{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "node": true,
        "browser": true
    },
    "globals": {
        "nw": true,
        "ng": true,
        "define": true,
        "SystemJS": true
    }
}