<div class="dropdown" [ngClass]="{'is-active' : active, 'is-right' : right}" (click)="active=!active">
    <div class="dropdown-trigger" (click)="onButtonClick()">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <image-component *ngIf="selected?.icon != null" [iconType]="iconType" [icon]="selected?.icon"></image-component>
            <span *ngIf="selected?.label != null" style="width:10px"></span>
            <span *ngIf="selected?.label != null">{{selected?.label}}</span>
            <span *ngIf="selected?.label != null" style="width:5px"></span>
            <image-component [iconType]="'fa'" [icon]="'fa-angle-down'"></image-component>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a [ngClass]="(item.data == selected?.data) ? 'is-active' : null" *ngFor="let item of provider; trackBy:trackBy" class="dropdown-item"
                (click)="onItemClick(item)">
                <image-component *ngIf="item.icon != null" [iconType]="iconType" [icon]="item.icon"></image-component>
                <span *ngIf="item.label != null" class="dropdown-label">{{item.label}}</span>
            </a>
        </div>
    </div>
</div>