<input id="fileDialog" class="config-params-view-file-dialog" type="file" />
<input id="folderDialog" nwdirectory class="config-params-view-folder-dialog" type="file" />
<div view animated [(animation)]="animation" [(duration)]="duration">
    <accordion-component [(selected)]="model.currentPanel">
        <panel-component [id]="'application'">
            <panel-header-component>
                <span>
                    <span>Cemu Loader</span>
                <span *ngIf="version.application != null">{{version.application}}</span>
                </span>
                <span style="flex-grow:1"></span>
                <bulma-button-component [icon]="'fa-floppy-o'" [title]="'L10N_SAVE_CONFIGURATION'|translate" (click)="saveConfiguration()"></bulma-button-component>
            </panel-header-component>
            <panel-content-component>
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td class="form-label" width="205">{{'L10N_SAVE_FILE'|translate}}</td>
                            <td>
                                <div class="field has-addons">
                                    <p class="control is-expanded">
                                        <input class="input" readonly tabindex="-1" type="text" [title]="model.config.file" [ngModel]="model.config.file">
                                    </p>
                                    <p class="control">
                                        <bulma-button-component [icon]="'fa-folder-open-o'" [enabled]="model.config.file != null" [title]="'L10N_OPEN_FOLDER'|translate"
                                            (click)="openConfigFolder()"></bulma-button-component>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-label" width="205">{{'L10N_PICTURES_FOLDER'|translate}}</td>
                            <td>
                                <div class="field has-addons">
                                    <p class="control is-expanded">
                                        <input class="input" readonly tabindex="-1" type="text" [title]="model.picturesFolder" [ngModel]="model.picturesFolder">
                                    </p>
                                    <p class="control">
                                        <bulma-button-component [icon]="'fa-folder-open-o'" [enabled]="model.picturesFolder != null" [title]="'L10N_OPEN_FOLDER'|translate"
                                            (click)="openPicturesFolder()"></bulma-button-component>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-label" width="205">{{'L10N_LANGUAGE'|translate}}</td>
                            <td>
                                <bulma-combobox-component [(selected)]="selectedLanguage" [provider]="config.languages" [iconType]="'img'" (change)="onLanguageChange($event)"></bulma-combobox-component>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-label" width="205">
                                <label for="fullscreen">{{'L10N_DISPLAY'|translate}}</label>
                            </td>
                            <td>
                                <bulma-combobox-component [(selected)]="selectedRenderer" [provider]="config.renderers" [iconType]="'img'" (change)="onRendererChange($event)"></bulma-combobox-component>
                            </td>
                        </tr>
                        <!--
                    <tr>
                        <td class="form-label" width="205">
                            <label for="autostart">Autostart</label>
                        </td>
                        <td>
                            <input class="checkbox" type="checkbox" id="autostart" [(ngModel)]="model.config.autostart">
                        </td>
                    </tr>
                    -->
                        <tr>
                            <td class="form-label" width="205">
                                <label for="startMinimized">{{'L10N_START_MINIMIZED'|translate}}</label>
                            </td>
                            <td>
                                <checkbox-component [id]="'startMinimized'" [(selected)]="model.config.startMinimized"></checkbox-component>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel-content-component>
        </panel-component>
        <panel-component [id]="'cemu'">
            <panel-header-component>
                <span>
                    <span>Cemu Emulator</span>
                <span *ngIf="version.cemu != null">{{version.cemu}}</span>
                <span *ngIf="version.cemuHook != null">| Cemu Hook {{version.cemuHook}}</span>
                </span>
                <span style="flex-grow:1"></span>
                <bulma-button-component [icon]="'fa-bullseye'" [enabled]="model.config.cemu.file != null" [title]="('L10N_LAUNCH'|translate) + ' Cemu'"
                    (click)="launchCemu()"></bulma-button-component>
            </panel-header-component>
            <panel-content-component>
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td class="form-label" width="205">{{'L10N_EMULATOR_EXE'|translate}}</td>
                            <td>
                                <div class="field has-addons">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" readonly tabindex="-1" [title]="model.config.cemu.file" [ngModel]="model.config.cemu.file">
                                    </p>
                                    <p class="control">
                                        <bulma-button-component [icon]="'fa-file-o'" [title]="'L10N_SELECT_FILE'|translate" (click)="selectCemuFile()"></bulma-button-component>
                                    </p>
                                    <p class="control">
                                        <bulma-button-component [icon]="'fa-folder-open-o'" [enabled]="model.config.cemu.file != null" [title]="'L10N_OPEN_FOLDER'|translate"
                                            (click)="openCemuFileFolder()"></bulma-button-component>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-label" width="205">
                                <label for="romsFolder">{{'L10N_ROMS_FOLDER'|translate}}</label>
                            </td>
                            <td>
                                <div class="field has-addons">
                                    <p class="control is-expanded">
                                        <input class="input" id="romsFolder" type="text" readonly tabindex="-1" [title]="model.config.cemu.romsFolder" [ngModel]="model.config.cemu.romsFolder">
                                    </p>
                                    <p class="control">
                                        <bulma-button-component [icon]="'fa-folder-o'" [title]="'L10N_SELECT_FOLDER'|translate" (click)="selectRomsFolder()"></bulma-button-component>
                                    </p>
                                    <p class="control">
                                        <bulma-button-component [icon]="'fa-folder-open-o'" [enabled]="model.config.cemu.romsFolder != null" [title]="'L10N_OPEN_FOLDER'|translate"
                                            (click)="openRomsFolder()"></bulma-button-component>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-label" width="205">
                                <label for="fullscreen">{{'L10N_START_FULLSCREEN'|translate}}</label>
                            </td>
                            <td>
                                <checkbox-component [id]="'fullscreen'" [(selected)]="model.config.cemu.fullscreen"></checkbox-component>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel-content-component>
        </panel-component>
        <panel-component [id]="'games'">
            <panel-header-component>
                <span>
                    <span *ngIf="model.config.games.length > 0; else nogames">{{'L10N_MY_XXX_GAMES'|translate:model.config.games.length}}</span>
                <ng-template #nogames>{{'L10N_MY_FUTURE_GAMES'|translate}}</ng-template>
                </span>
                <span style="flex-grow:1"></span>
                <bulma-progress-component *ngIf="progress.visible" [theme]="'primary'" [value]="progress.value" [max]="progress.max"></bulma-progress-component>
                <span style="flex-grow:1"></span>
                <div class="field has-addons">
                    <p class="control">
                        <bulma-button-component [icon]="'fa-magic'" [enabled]="model.config.cemu.romsFolder != null" [title]="'L10N_MAGIC_FIND_GAMES'|translate"
                            (click)="scanGames()"></bulma-button-component>
                    </p>
                    <p class="control">
                        <bulma-button-component [icon]="'fa-plus'" [title]="'L10N_ADD_GAME'|translate" (click)="addGame()"></bulma-button-component>
                    </p>
                </div>
            </panel-header-component>
            <panel-content-component>
                <table class="table is-fullwidth">
                    <tbody>
                        <tr *ngFor="let game of model.config.games | orderBy:'name'; trackBy:gameHelper.track">
                            <td>
                                <div>
                                    <span *ngIf="model.currentGame !== game">{{game.name}}</span>
                                </div>
                                <div *ngIf="model.currentGame === game">
                                    <div class="field">
                                        <label class="label">{{'L10N_NAME'|translate}}</label>
                                        <div class="field has-addons">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" [title]="game.name" [(ngModel)]="game.name">
                                            </p>
                                            <p class="control">
                                                <bulma-button-component [icon]="'fa-search'" [title]="'L10N_FIND_GAME'|translate" (click)="findGame()"></bulma-button-component>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">{{'L10N_IMAGE'|translate}}</label>
                                        <div class="field has-addons">
                                            <p class="control is-expanded">
                                                <input class="input" readonly tabindex="-1" [title]="game.image" type="text" [ngModel]="game.image">
                                            </p>
                                            <p class="control">
                                                <bulma-button-component [icon]="'fa-file-o'" [title]="'L10N_SELECT_FILE'|translate" (click)="selectGameImage(game)"></bulma-button-component>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">{{'L10N_BACKGROUND'|translate}}</label>
                                        <div class="field has-addons">
                                            <p class="control is-expanded">
                                                <input class="input" readonly tabindex="-1" [title]="game.background" type="text" [ngModel]="game.background">
                                            </p>
                                            <p class="control">
                                                <bulma-button-component [icon]="'fa-file-o'" [title]="'L10N_SELECT_FILE'|translate" (click)="selectGameBackground(game)"></bulma-button-component>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">{{'L10N_FILE'|translate}}</label>
                                        <div class="field has-addons">
                                            <p class="control is-expanded">
                                                <input class="input" readonly tabindex="-1" [title]="game.file" type="text" [ngModel]="game.file">
                                            </p>
                                            <p class="control">
                                                <bulma-button-component [icon]="'fa-file-o'" [title]="'L10N_SELECT_FILE'|translate" (click)="selectGameFile(game)"></bulma-button-component>
                                            </p>
                                            <p class="control">
                                                <bulma-button-component [icon]="'fa-folder-open-o'" [enabled]="game.file != null" [title]="'L10N_OPEN_FOLDER'|translate"
                                                    (click)="openGameFileFolder(game)"></bulma-button-component>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="game-actions" width="24">
                                <bulma-button-component [icon]="model.currentGame === game ? 'fa-ban' : 'fa-pencil'" [title]="('L10N_EDIT'|translate) + ' ' + game.name" (click)="toggleEditGame(game)"></bulma-button-component>
                                <div *ngIf="model.currentGame === game" style="height:10px;"></div>
                                <bulma-button-component [icon]="'fa-trash-o'" *ngIf="model.currentGame === game" [title]="('L10N_DELETE'|translate) + ' ' + game.name"
                                    (click)="removeGame(game)"></bulma-button-component>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel-content-component>
        </panel-component>
    </accordion-component>
</div>