<div view animated [(animation)]="animation" [(duration)]="duration">
    <img class="background" [src]="helper.getImageUrl(selectedGame?.background != null ? selectedGame.background : 'images/default-background.png')">
    <div class="frame">
        <ul class="slidee">
            <li *ngFor="let game of helper.provider | orderBy:'name'; trackBy:helper.gameTrack" (mouseover)="showDescription(game)" (mouseout)="hideDescription(game)">
                <img [ngClass]="game === selectedGame ? 'selected' : null" [src]="helper.getImageUrl(game.image)" [title]="game.name" (click)="select(game)">
            </li>
        </ul>
    </div>
    <div *ngIf="description != null" class="options">
        <span>{{description}}</span>
        <bulma-button-component *ngFor="let option of helper.options; trackBy:helper.optionTrack" [icon]="option.icon" [title]="option.label"
            (click)="helper.executeGameOption(selectedGame, option)"></bulma-button-component>
    </div>
</div>