<div view animated [(animation)]="animation" [(duration)]="duration">
    <panel-component>
        <panel-header-component>
            <span>{{"L10N_RESOURCES"|translate}}</span>
        </panel-header-component>
        <panel-content-component>
            <table class="table is-fullwidth">
                <tbody>
                    <tr>
                        <td colspan="2"><b>Cemu</b></td>
                    </tr>
                    <tr>
                        <td class="form-label">
                            <span>{{"L10N_LINK"|translate}}</span>
                        </td>
                        <td>
                            <a tabindex="0" data-link="http://cemu.info" title="http://cemu.info" (click)="openDataLink($event)">http://cemu.info</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-label">
                            <span>{{"L10N_DOWNLOAD"|translate}}</span>
                        </td>
                        <td>
                            <a tabindex="0" [title]="cemu.data" (click)="openLink(cemu.data)">{{cemu.label}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Cemu Hook</b></td>
                    </tr>
                    <tr>
                        <td class="form-label">
                            <span>{{"L10N_LINK"|translate}}</span>
                        </td>
                        <td>
                            <a tabindex="0" data-link="https://sshnuke.net/cemuhook" title="https://sshnuke.net/cemuhook" (click)="openDataLink($event)">https://sshnuke.net/cemuhook</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-label">
                            <span>{{"L10N_DOWNLOAD"|translate}}</span>
                        </td>
                        <td>
                            <span *ngFor="let version of cemuHook.versions; let last=last; trackBy:itemHelper.track">
                                <span><a tabindex="0" [title]="version.data" (click)="openLink(version.data)">{{version.label}}</a></span>
                                <span *ngIf="!last">|</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>{{"L10N_GRAPHIC_PACKS"|translate}}</b></td>
                    </tr>
                    <tr>
                        <td class="form-label">
                            <span>{{"L10N_LINK"|translate}}</span>
                        </td>
                        <td>
                            <a tabindex="0" data-link="https://slashiee.github.io/cemu_graphic_packs" title="https://slashiee.github.io/cemu_graphic_packs" (click)="openDataLink($event)">https://slashiee.github.io/cemu_graphic_packs</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-label">
                            <span>{{"L10N_DOWNLOAD"|translate}}</span>
                        </td>
                        <td>
                            <a tabindex="0" [title]="graphicPack.data" (click)="openLink(graphicPack.data)">{{graphicPack.label}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>{{"L10N_MORE"|translate}}...</b></td>
                    </tr>
                    <tr>
                        <td class="form-label">
                            <span>{{"L10N_LINK"|translate}}</span>
                        </td>
                        <td>
                            <a tabindex="0" data-link="http://wiiuusbhelper.com/" title="http://wiiuusbhelper.com/" (click)="openDataLink($event)">Wii U USB Helper (Wii U titles and DLC updates)</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-label">
                            <span>{{"L10N_LINK"|translate}}</span>
                        </td>
                        <td>
                            <a tabindex="0" data-link="http://www.gametdb.com/WiiU" title="http://www.gametdb.com/WiiU" (click)="openDataLink($event)">Wii U Database</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </panel-content-component>
    </panel-component>
</div>