<div view animated [(animation)]="animation" [(duration)]="duration">
    <div class="panel-header">
        <span>{{"L10N_RESOURCES"|translate}}</span>
    </div>
    <table class="table is-fullwidth">
        <tbody>
            <tr>
                <td colspan="2"><b>Cemu</b></td>
            </tr>
            <tr>
                <td>{{"L10N_LINK"|translate}}</td>
                <td><a data-link="http://cemu.info" (click)="openDataLink($event)">http://cemu.info</a></td>
            </tr>
            <tr>
                <td>{{"L10N_DOWNLOAD"|translate}}</td>
                <td><a (click)="openLink(cemu.data)">{{cemu.label}}</a></td>
            </tr>
            <tr>
                <td colspan="2"><b>Cemu Hook</b></td>
            </tr>
            <tr>
                <td>{{"L10N_LINK"|translate}}</td>
                <td><a data-link="https://sshnuke.net/cemuhook" (click)="openDataLink($event)">https://sshnuke.net/cemuhook</a></td>
            </tr>
            <tr>
                <td>{{"L10N_DOWNLOAD"|translate}}</td>
                <td>
                    <span *ngFor="let version of cemuHook.versions; let first=first; trackBy:itemHelper.track">
                        <span *ngIf="!first">|</span>
                    <a (click)="openLink(version.data)">{{version.label}}</a>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2"><b>{{"L10N_GRAPHIC_PACKS"|translate}}</b></td>
            </tr>
            <tr>
                <td>{{"L10N_LINK"|translate}}</td>
                <td><a data-link="https://slashiee.github.io/cemu_graphic_packs" (click)="openDataLink($event)">https://slashiee.github.io/cemu_graphic_packs</a></td>
            </tr>
            <tr>
                <td>{{"L10N_DOWNLOAD"|translate}}</td>
                <td><a data-link="https://github.com/slashiee/cemu_graphic_packs/archive/master.zip" (click)="openDataLink($event)">{{"L10N_LATEST_VERSION"|translate}}</a></td>
            </tr>
            <tr>
                <td colspan="2"><b>{{"L10N_MORE"|translate}}...</b></td>
            </tr>
            <tr>
                <td colspan="2">
                    <a data-link="http://wiiuusbhelper.com/" (click)="openDataLink($event)">Wii U USB Helper (Wii U titles and DLC updates)</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a data-link="https://github.com/Tsume/Maple-Tree" (click)="openDataLink($event)">MapleTree (Wii U titles and DLC updates)</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a data-link="http://www.gametdb.com/WiiU" (click)="openDataLink($event)">Wii U Database</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>